tags
fs.img
serein-user/_*
serein-user/*.d
serein-user/*.o
serein-user/*.asm
serein-user/*.sym
serein-user/initcode
serein-user/initcode.out
serein-user/usys.S
serein-user/tests/_*
serein-user/tests/*.d
serein-user/tests/*.o
serein-user/tests/*.asm
serein-user/tests/*.sym
kernel/*.back.c
kernel/*.example.c
kernel/*.d
kernel/*.o
kernel/include/*.back.h
kernel/include/*.example.h
target/*
# Global ignore
*.o
*.d
howtomerge.txt
studynotebook.txt
user目录中的文件说明.txt
user目录addnew方案列表.txt
.vscode/*
lastmakefile.txt
